################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
**/website/bin
**/website/obj/Debug
*.user
*.log

# Docker Data and Deploy folders
docker/data/cd/*
!docker/data/cd/.gitkeep

docker/data/cm/*
!docker/data/cm/.gitkeep

docker/data/solr/*
!docker/data/solr/.gitkeep

docker/data/mssql/*
!docker/data/mssql/.gitkeep

docker/traefik/**/*.crt
docker/traefik/**/*.key
docker/traefik/**/readme
!docker/traefik/.gitkeep
!docker/traefik/certs/.gitkeep
!docker/traefik/config/dynamic/certs_config.yaml

docker/deploy/website/*
!docker/deploy/website/.gitkeep

.sitecore/package-cache